@media (min-width: 700px) {
  #menu {
    display: none;
  }

  .navigation {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1.5rem;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  figure img {
    transition: transform 0.3s ease;
  }

  figure img:hover {
    transform: scale(1.05);
  }
}
