@media (min-width: 700px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  #menu {
    display: none;
  }

  nav.navigation {
    flex-direction: row;
    justify-content: center;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
